In [7]:
import pandas as pd 
import numpy as np

1) ¿Cómo dividir una columna de texto en dos columnas separadas?

In [38]:
df = pd.DataFrame(["STD,City State","33,Kolkata West Bengal","44,Chennai Tamil Nadu","40,Hyderabad Telengana",
"80,Bangalore Karnataka"], columns=['row'])

In [44]:
col = df["row"].str.split(",", n = 1, expand = True) 
col

     0                    1
0  STD           City State
1   33  Kolkata West Bengal
2   44   Chennai Tamil Nadu
3   40  Hyderabad Telengana
4   80  Bangalore Karnataka

In [45]:
col[1]

0             City State
1    Kolkata West Bengal
2     Chennai Tamil Nadu
3    Hyderabad Telengana
4    Bangalore Karnataka
Name: 1, dtype: object

In [46]:
col[1] = col[1].str.split(" ", n = 2, expand = True)

In [47]:
col

     0          1
0  STD       City
1   33    Kolkata
2   44    Chennai
3   40  Hyderabad
4   80  Bangalore

2) ¿Cómo obtener la frecuencia de valores repetidos en todo el dataframe?

In [50]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))

In [51]:
df

   a  b  c  d
0  1  3  8  5
1  6  4  2  1
2  5  2  8  9
3  3  1  6  5
4  1  4  3  9

In [64]:
df.unstack

<bound method DataFrame.unstack of    a  b  c  d
0  1  3  8  5
1  6  4  2  1
2  5  2  8  9
3  3  1  6  5
4  1  4  3  9>

3) ¿Cómo obtener las posiciones donde coinciden los valores de dos columnas?

In [74]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),

'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})
df

   fruit1  fruit2
0   apple  orange
1  orange  banana
2  banana  orange
3   apple  orange
4  banana  orange
5   apple   apple
6   apple  orange
7   apple   apple
8  banana   apple
9   apple   apple

In [78]:
indices = np.where(df['fruit1'] == df['fruit2'])

In [79]:
indices

(array([5, 7, 9], dtype=int64),)

4) A partir de un diccionario crear un DataFrame

In [82]:
dict = {'X':[28,35,46,50,66], 'Y':[74,84,99,13,26],'Z':[36,47,56,62,73]}

In [83]:
dict

{'X': [28, 35, 46, 50, 66],
 'Y': [74, 84, 99, 13, 26],
 'Z': [36, 47, 56, 62, 73]}

In [84]:
df = pd.DataFrame.from_dict(dict)

In [85]:
df

    X   Y   Z
0  28  74  36
1  35  84  47
2  46  99  56
3  50  13  62
4  66  26  73

5) Genere 3 columnas con 5 elementos cada uno. Cree una función para eliminar los N primeras o N últimas filas

In [90]:
matriz = np.arange(15).reshape([5,3])

In [91]:
matriz

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [109]:
# 1) primer fila, 2) segunda fila, ...
def eliminar_fila_sup(no):
    elementos_a_eliminar = no * 3
    elementos = matriz.reshape([1,15])
    elementos = elementos[0, 3:]
    nuevo_array = np.array(elementos).reshape([(5 - no), 3])
    print(nuevo_array)

In [126]:
# 1) primer fila, 2) segunda fila, ...
def eliminar_fila_inf(no):
    elementos_a_eliminar = no * 3
    elementos = matriz.reshape([1,15])
    indice = 15 - elementos_a_eliminar
    elementos = elementos[0,0:indice]
    nuevo_array = np.array(elementos).reshape([(5 - no), 3])
    print(nuevo_array)

In [127]:
eliminar_fila_inf(1)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [128]:
def eliminar(no, type):
    if type == 'sup':
        eliminar_fila_sup(no)
    if type == 'inf':
        eliminar_fila_inf(no)

In [129]:
eliminar(2, 'inf')

[[0 1 2]
 [3 4 5]
 [6 7 8]]

6) Genere 5 columnas con 5 elementos cada uno. Cree una función para ordenar de forma ascendente o descendente los datos por columna.

In [130]:
matriz5_5 = np.arange(25).reshape([5,5])
df5 = pd.DataFrame(matriz5_5)
df5

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [170]:
cols = list(df5.columns.values)
cols

[0, 1, 2, 3, 4]

In [175]:
sortdf = df5.sort_values(cols, ascending=False)
sortdf

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

In [165]:
def order(asc):
    for i in cols:
        array = df5[i]
        df5[i] = array.sort_values(ascending=asc)
    print(df5)

In [167]:
order(False)

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

7) Genere 4 columnas con 5 elementos cada uno. Cree una función para obtener los N primeros o N ultimos registros.

In [168]:
matriz4_5 = np.arange(20).reshape([5,4])
df4 = pd.DataFrame(matriz4_5)
df4

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [176]:
def get_elements(no):
    elementos_a_obtener = no * 3
    elementos = matriz.reshape([1,20])
    elementos = elementos[0, 3:]
    print(elementos)

In [177]:
get_elements(5)

[ 3  4  5  6  7  8  9 10 11 12 13 14]

8) Genere 4 columnas con 5 elementos cada uno. Cree una función para obtener los N primeros o N ultimos registros.

9) Genere 6 columnas con 5 elementos cada uno. Cree una función para obtener un nuevo DataFrame sin la columna X.

In [183]:
matriz6_5 = np.arange(30).reshape([5,6])
df7 = pd.DataFrame(matriz6_5)
df7

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29

In [184]:
def newdf(col):
    elementos_a_eliminar = col * 5
    elementos = matriz6_5.reshape([1,30])
    nuevo_array = np.array(elementos).reshape([(5 - col), 6])

In [185]:
newdf(5)

ValueError: cannot reshape array of size 30 into shape (0,6)

10) Genere 3 columnas con 5 elementos cada uno. Cree una función para obtener el numero de columnas en un dataframe.

In [187]:
matriz_4 = np.arange(15).reshape([5,3])
df_n = pd.DataFrame(matriz_4)

In [188]:
cols = list(df_n.columns.values)

In [189]:
len(cols)

3

In [190]:
def getcolsn():
    print(len(cols))

In [191]:
getcolsn()

3

11) Genere 2 columnas con 20 elementos cada uno. La primera columna debe de tener uno de los siguientes valores: C1, C2, C3 y C4. Estos valores se pueden repetir. La segunda columna tiene valores de números cualesquiera. Cree una función para, agrupar por la Primera Columna y que se listen los valores agrupados de la segunda Columna.

12) Cree una función para crear un DataFrame a partir de una lista de listas. Suponga que la lista en la posicion 0 siempre son las cabeceras.

In [192]:
my_lists = [['col1', 'col2'], [2, 4], [1, 3]]

In [193]:
def creardf(list):
    return pd.DataFrame(list)

In [194]:
creardf(my_lists)

      0     1
0  col1  col2
1     2     4
2     1     3